/* ==========================================================================
   @tecnicaz custom styles
   ========================================================================== */
.navbar {
  background-color: transparent;
  background: transparent;
  border-color: transparent; }

.indiceeu {
  background-color: #EFF0F1;
  text-align: justify; }
  @media (max-width: 767px) {
    .indiceeu__main-header {
      height: 120px;
      background-image: url("../img/background-image-header--xs.jpg");
      background-position: center center; }
    .indiceeu__main-content {
      background-color: #B0B4B4;
      margin-right: 5px;
      margin-left: 5px;
      max-width: 768px;
      padding: 0px; }
    .indiceeu__main-sidebar {
      display: none; } }
  @media (min-width: 768px) {
    .indiceeu__main-header {
      height: 120px;
      background-image: url("../img/background-image-header--xs.jpg");
      background-position: center center; } }
  @media (max-width: 991px) {
    .indiceeu__main-header {
      height: 120px;
      background-image: url("../img/background-image-header--xs.jpg");
      background-position: center center; } }
  @media (min-width: 992px) {
    .indiceeu__main-header {
      height: 120px;
      background-image: url("../img/background-image-header--xs.jpg");
      background-position: center center; } }
  @media (max-width: 1049px) {
    .indiceeu__main-header {
      height: 120px;
      background-image: url("../img/background-image-header--xs.jpg");
      background-position: center center; } }
  @media (min-width: 1050px) {
    .indiceeu__main-header {
      height: 180px;
      background-image: url("../img/background-image-header--lg.jpg");
      background-position: center center; }
    .indiceeu__main-nav {
      margin-top: -50px; }
      .indiceeu__main-nav > .container {
        width: 1050px; }
      .indiceeu__main-nav .navbar-nav {
        width: 100%;
        text-align: center;
        background-color: rgba(255, 255, 255, 0.15); }
        .indiceeu__main-nav .navbar-nav > li {
          float: none;
          display: inline-block; }
        .indiceeu__main-nav .navbar-nav > .active > a {
          background-color: transparent;
          background-image: none;
          background-repeat: no-repeat;
          box-shadow: none; }
    .indiceeu__main-wrapper {
      padding: 0px;
      width: 1050px;
      background-color: #4C97A2; }
      .indiceeu__main-wrapper > .row {
        margin-right: 0px;
        margin-left: 0px;
        background-color: aqua; }
    .indiceeu__main-content {
      background-color: #B0B4B4;
      margin-right: 5px;
      margin-left: 5px;
      max-width: 730px;
      padding: 0px; }
    .indiceeu__main-sidebar {
      margin-right: 5px;
      margin-left: 5px;
      background-color: #68AAA3;
      width: 300px;
      padding: 0; } }
